.first-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.first-container img {
  background-size: cover;
  width: 100%;
  height: 760px;
  object-fit: cover;
}

.overlap-text {
  display: block;
  position: absolute;
  top: 23%;
  left: 10%;
  font-size: 72px;
}

.overlap-text p {
  line-height: 1.4;
}

.btn-light {
  border: none;
  font-weight: 500;
}

.btn-light:hover {
  background-color: rgb(211, 211, 211);
}

@media (max-width: 1360px) {
  .first-container img {
    height: 660px;
  }
}

@media (max-width: 1073px) {
  .first-container img {
    height: 500px;
  }
  .overlap-text {
    font-size: 64px;
  }
}

@media (max-width: 938px) {
  .first-container img {
    height: 420px;
  }
  .overlap-text {
    font-size: 56px;
  }
}

@media (max-width: 766px) {
  .first-container img {
    height: 347px;
  }
  .overlap-text {
    font-size: 44px;
  }
}

@media (max-width: 668px) {
  .first-container img {
    height: 347px;
  }
  .overlap-text {
    font-size: 38px;
    left: 6%;
  }
  .btn-light {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .first-container img {
    height: 395px;
  }
  .overlap-text {
    font-size: 32px;
    left: 5%;
  }
}

@media (min-width: 1360px) {
  .btn-light {
    padding-inline: 20px;
  }
}

@media (min-width: 1300px) {
  .first-container {
    padding-top: 2rem;
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 85rem;
  }
  .first-container img {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
  }
}
