$brand-color: #39c679;
$gold-color: #F3C043;
$another-color: rgb(119, 82, 168);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

section {
  padding: 20px;
}

h5 {
  color: rgb(119, 82, 168);
}

.lead {
  font-size: 17.3714px;
  font-weight: 500;
  color: rgb(124, 124, 124);
}
@media (min-width: 1025px) {
  .lead {
    font-size: 19px;
  }
}

.bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}